@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Poppins:wght@500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #6c63ff;
  --second: #28c2f6;
  --third: #c997df;
}

html {
  @apply scroll-smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

@layer components {
  .box-container {
    @apply mx-auto max-w-screen-xl px-8 md:px-12;
  }
}
